<h1> add your bookmark </h1>

<form action="/links" method="post" >
  <h2> add your title</h2>
  <input type="text" name="title">
  <br>
  <h2> add your address</h2>
  <input type="text" name="url">
  <br>
  <input type="submit" value="add to links">
</form>
