<head>
  <title>Links</title>
</head>
<h1> Welcome <%= !!@user ? @user.email : "guest" %> </h1>

<ul id='links'>

  <% @user.nil? ? "" : @user.links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
    tags : <%= link.tags.map(&:name) %>
  </li>
  <% end %>
</ul>

<form action='/links/new' method='get'>
  <input type='submit' value='add new link'>
</form>

<form action='/sign_up/new' method='get'>
  <input type='submit' value="sign up">
</form>
