<head>
  <title>Links</title>
</head>

<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
    tags : <%= link.tags %>
    
<!--     <% @tags.each do |tag| %>
    <li>
    	tags : <%= tag %>
    </li>
    <% end %> -->

  </li>
  <% end %>
</ul>

<form action='/links/new' method='get'>
  <input type='submit' value='add new link'>
</form>
